

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fefcfc;
text-align: center;



  }
  
  li {
  display:inline-block;

  
    }
  li a {
    display: block;
    color: rgb(9, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration:lightblue ;
  }
  
  li a:hover {
    background-color: #a7c5d2;
  }

.nav_container{
    box-shadow: 0 0 20px 7px rgba(79, 75, 75,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

 .nav_container button{
  height: fit-content;
 }
  
